/* Reset browser defaults */
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background-color: #f7f9fc; /* light gray background */
  color: #222;              /* dark text */
  display: grid;
  place-items: left;      /* Left aligned */
  height: 100vh;            /* full screen height */
}

/* Main heading */
h1 {
  margin: 0;
  font-size: 3rem;
  color: royalblue;
  margin-bottom: 0.5em;
}

/* Subheading/paragraph */
p {
  margin: 0;
  font-size: 1.5rem;
  color: #555;
}
